* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  display: flex;
  font-size: 20px;
  align-items: center;
  font-weight: 900;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
}
td {
  width: 150px;
}
th {
  width: 150px;
}
input {
  margin-top: 5px;
  padding: 5px 10px;
}
button {
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding:  10px 15px;
  background-color: transparent;
  font-weight: 900;
  border: 1px solid black;
  cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.074);
}
#btn {
  position: relative;
  left: 550px;
  top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all ease 0.3s;
  background-color: black;
  color: white;
  font-weight: 700;
}

#btn:hover {
  border: 1px solid black;
  transform: scale(1.1);
  cursor: pointer;
  background-color: white;
  color: black;
}
